<footer class="footer-section footer-bg">
    <div class="container">
        <div class="contact-info-area">
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".2s">
                <div class="icon">
                    <i class="icon-icon-5"></i>
                </div>
                <div class="content">
                    <p>Gọi cho chúng tôi (24/7)</p>
                    <h3>
                        <a href="tel:0352 037 252">0352 037 252</a>
                    </h3>
                </div>
            </div>
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".4s">
                <div class="icon">
                    <i class="icon-icon-6"></i>
                </div>
                <div class="content">
                    <p>Liên hệ báo giá</p>
                    <h3>
                        <a href="mailto:yendaotg@gmail.com">yendaotg@gmail.com</a>
                    </h3>
                </div>
            </div>
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".6s">
                <div class="icon">
                    <i class="icon-icon-7"></i>
                </div>
                <div class="content">
                    <p>Giờ mở cửa</p>
                    <h3>
                        Chủ nhật - Thứ Sáu: 9:00 - 18:00
                    </h3>
                </div>
            </div>
            <div class="contact-info-items wow fadeInUp" data-wow-delay=".8s">
                <div class="icon">
                    <i class="icon-icon-8"></i>
                </div>
                <div class="content">
                    <p>Địa chỉ</p>
                    <h3>
                        TP. Hồ Chí Minh, Việt Nam
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widgets-wrapper">
        <div class="plane-shape float-bob-y">
            <img src="~/assets/img/plane-shape.png" alt="img">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="index.html">
                                <img src="~/assets/img/logo/haidang.png" alt="logo-img">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p>
                                Cung cấp các đầu sách đa dạng, dịch vụ tận tâm và không ngừng đổi mới để phục vụ bạn tốt nhất.
                            </p>
                            <div class="social-icon d-flex align-items-center">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Hỗ trợ khách hàng</h3>
                        </div>
                        <ul class="list-area">
                            <li><a href="shop.html"><i class="fa-solid fa-chevrons-right"></i> Danh sách cửa hàng</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-chevrons-right"></i> Giờ làm việc</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-chevrons-right"></i> Liên hệ</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-chevrons-right"></i> Chính sách đổi trả</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Thể loại</h3>
                        </div>
                        <ul class="list-area">
                            <li><a href="shop.html"><i class="fa-solid fa-chevrons-right"></i> Tiểu thuyết</a></li>
                            <li><a href="shop.html"><i class="fa-solid fa-chevrons-right"></i> Thơ ca</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-chevrons-right"></i> Sách chính trị</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-chevrons-right"></i> Sách lịch sử</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Nhận bản tin</h3>
                        </div>
                        <div class="footer-content">
                            <p>Đăng ký nhận bản tin hàng tuần để không bỏ lỡ thông tin mới nhất từ chúng tôi.</p>
                            <div class="footer-input">
                                <input type="email" id="email2" placeholder="Nhập email của bạn">
                                <button class="newsletter-btn" type="submit">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    © Bản quyền 2025 thuộc về <a href="index.html">DO HUU THANG</a>
                </p>
                <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
                    <li><a href="contact.html"><img src="~/assets/img/visa-logo.png" alt="Visa"></a></li>
                    <li><a href="contact.html"><img src="~/assets/img/mastercard.png" alt="MasterCard"></a></li>
                    <li><a href="contact.html"><img src="~/assets/img/payoneer.png" alt="Payoneer"></a></li>
                    <li><a href="contact.html"><img src="~/assets/img/affirm.png" alt="Affirm"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
